* {
  background-color: #FFEEEF;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 0.5px solid black;
  height: 5%;
  margin-bottom: 5%;
}
      
header h1 {
  font-family: Pacifico;
}

header a h2 {
    font-family: QuickSand;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0%;
}

a, a:hover {
  text-decoration: none !important;
  color: black;
}

.home h1 {
  font-family: Pacifico;
  font-size: 75px;
  text-align: center;
  margin-top: -2%;
}

.home h2 {
  font-family: QuickSand;
  text-align: center;
  font-size: 45px;
  margin-bottom: 15%;
}

.about-me h2 {
  font-family: Pacifico;
  font-size: 30px;
  text-align: center;
}

.bio p {
  font-family: QuickSand;
  font-size: 20px;
  margin-left: 38%;
  width: 48%;
  margin-top: 0%;
}

.me-text {
  display: flex;
  flex-direction: row;
}

img {
  width: 296px;
  height: 375px;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  margin-left: 10%;
  object-fit: cover;
}

.img-shadow {
  width: 296px;
  height: 375px;
  color: black;
  border-radius: 30px;
  position: relative;
}
