* {
  background-color: #FFEEEF;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 0.5px solid black;
  height: 5%;
  margin-bottom: 5%;
}
      
header h1 {
  font-family: Pacifico;
}

header a h2 {
    font-family: QuickSand;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0%;
}

a, a:hover {
  text-decoration: none !important;
  color: black;
}

.home h1 {
  font-family: Pacifico;
  font-size: 75px;
  text-align: center;
  margin-top: -2%;
}

.home h2 {
  font-family: QuickSand;
  text-align: center;
  font-size: 45px;
  margin-bottom: 10%;
}

 h2 {
  font-family: Pacifico;
  font-size: 30px;
  text-align: center;
}

.bio p {
  font-family: QuickSand;
  font-size: 20px;
  margin-left: 12%;
  width: 62%;
  margin-top: 0%;
  margin-bottom: 5%;
}

.me-text {
  display: flex;
  flex-direction: row;
}

.me {
  width: 296px;
  height: 375px;
  border: 1px solid black;
  border-radius: 30px;
  margin-left: 10%;
  object-fit: cover;
  border-bottom: 3px solid black;
}

.skills img {
  height: 75px;
  width: auto;
  margin-right: 2%;
}

.skills-row {
  margin-left: 16%;
  margin-bottom: 5%;
}

.portfolio h3 {
  font-family: QuickSand;
  font-size: 25px;
  text-align: center;
  margin-left: 30%;
}

.button-container {
  display: flex;
  margin-left: 13%;
  width: 98%;
}

.button-github, .button-link {
  display: flex;
  align-items: center;
  width: 151px;
  height: 32px;
  font-size: 16px;
  font-family: QuickSand;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  border-bottom: 3px solid black;
  margin-left: 5%;
}

.github-mini {
  height: 26px;
  width: auto;
  padding: 2px;
}

.github-mini img {
  margin-right: 5px; 
}

.portfolio h4 {
  font-family: QuickSand;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  margin-left: -32%;
}

.portfolio p {
  font-family: QuickSand;
  font-size: 16px;
  text-align: left;
  margin-top: 2%;
  width: 291px;
  margin-left: 21%;
}

.eye {
  height: 34px;
  width: 34px; 
  padding: 2px;
}

.eye img {
  margin-right: 5px; 
  height: 34px;
}

.html-2, .css-2, .javascript-2, .rails-2 {
  height: 30px;
  width: auto;
  margin-right: 2%;
}

.stack-img {
  margin-left: 21%;
  margin-bottom: 5%;
}

.travelpals-container {
  display: flex;
  flex-direction: row;
}

.travelpals {
  width: 216px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 15px;
  position: absolute;
  left: 18%;
  height: 372px;
  border-bottom: 3px solid black;
}

.travelpals-description {
  margin-left: 34%;
}

